<footer class="wantu-footer">
  <div class="container">
    <p>
      <%= image_tag 'favicon/favicon-96x96.png', alt: t('app.name'), width: 24, height: 24, class: 'me-1 align-text-bottom' %>
      &copy; <%= Date.current.year %> <%= t('app.name') %> <%= t('footer.rights') %>
    </p>
  </div>
</footer>
